<html>

<head>
    <!-- select picker -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <link rel='stylesheet' type='text/css' href='../static/css/main.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/gallery.css'>

    <script>
        function addTextToImage(imagePath, text) {
            var circle_canvas = document.getElementById("canvas");
            var context = circle_canvas.getContext("2d");

            // Draw Image function
            var img = new Image();
            img.src = imagePath;
            img.onload = function () {
                context.drawImage(img, 0, 0);
                context.lineWidth = 1;
                context.fillStyle = "#CC00FF";
                context.lineStyle = "#ffff00";
                context.font = "18px sans-serif";
                context.fillText(text, 50, 50);
            };
        }
    </script>

</head>

<body>

    <!-- Header -->
    <div class="header">
        <h1>COCO dataset explorer</h1>
        <p>Loaded dataset: {{ dataset }}</p>
    </div>

    <!-- Control Buttons -->
    <form method="post" action="/">
        <input type="submit" value="Previous" name="previous" />
        <input type="submit" value="Next" name="next" />
    </form>
    <a>Page number: {{ pg_num }}</a>

    <input type="checkbox" name="match" value="matchwithpairs" checked> Show Bounding Boxes


    <!-- Categories Multiselect -->
    <div class="container">
        <div class="col-md-4" style="margin-left:200px;">
            <form method="post" id="multiple_select_form">
                <select name="skills" id="skills" class="form-control selectpicker" data-live-search="true"
                    data-size="5" multiple>
                    {% for i in range(all_categories|length) %}
                    <option value="{{ all_categories[i] }}">{{ all_categories[i] }}</option>
                    {% endfor %}
                </select>
                <br />
                Selected categories: {{ newCats }}
                <br />
                <input type="hidden" name="hidden_skills" id="hidden_skills" />
                <input type="submit" name="submit" class="btn btn-info" value="Submit" />
            </form>

        </div>
    </div>

    <!-- Photo Grid -->
        <div class="row">
            {% for i in range(4) %}
            <div class="column">
                {% for j in range(5) %}
                <img id="{{ images[i*4 + j] }}" src="{{ images[i*4 + j] }}" style="width:100%">
                {% endfor %}
            </div>
            {% endfor %}
        </div>





</body>

</html>