<html>

<head>

    <!-- Include Twitter Bootstrap and jQuery: -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>

    <!-- Include the plugin's CSS and JS: -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap-multiselect.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-multiselect.css') }}"
        type="text/css" />

    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example-getting-started').multiselect();
        });
    </script>
 

</head>

<body>

    <!-- Build your select: -->
    <select id="example-getting-started" multiple="multiple">
        <option value="cheese">Cheese</option>
        <option value="tomatoes">Tomatoes</option>
        <option value="mozarella">Mozzarella</option>
        <option value="mushrooms">Mushrooms</option>
        <option value="pepperoni">Pepperoni</option>
        <option value="onions">Onions</option>
    </select>
    
</body>

</html>